<IfModule mod_rewrite.c>
  RewriteEngine On

  # Force trailing slash to match our new Next.js structure
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^(.*[^/])$ /$1/ [L,R=301]

  ErrorDocument 404 /404.html
</IfModule>
